<!--The content below is only a placeholder and can be replaced.-->
<textarea rows="10" cols="40" type="text" name="sentence" [(ngModel)]="sent.message"></textarea>
<br>
From : <input type="text" name="name" [(ngModel)]="sent.from">
<br>
To : <input type="text" name="to" [(ngModel)]="sent.to">
<br>
<button (click)="send()">Send</button>
<hr>
<div *ngIf="data">
  <!-- <div *ngFor="let d of data">
    {{d.name}} : {{d.data}}
  </div> -->
  <table style="width: 100%">
    <tr>
    <th>id</th>
      <th>Property</th>
      <th>Result</th>
    </tr>
    <tr *ngFor="let d of data;let i=index">
    <td>{{i}}</td>
      <td>{{d.name}}</td>
      <td *ngIf="i<9">{{d.data}}</td>
      <td *ngIf="i>=9"><span *ngFor="let t of d.data">{{t}}<br></span></td>
    </tr>
  </table>
</div>
